:root {
    --primarycolor: #556973;
    --secondarycolor: #894c75;
    --fontcolor: #1e272c;
    --whiteblue: aliceblue;
    --grey-color: #d0d5d8;
    --darkgrey-color: #282c2e;
    --soft-purple: #d4cfd3;
    --soft-blue: #70b2fd;
    --soft-yellow: #f8ff6e;
    --soft-red: #ff786e;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: capitalize;
}

body {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

/* *************  SIDENAV  ************* */
.sidenav {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: var(--primarycolor);
    color: var(--whiteblue);
    position: fixed;
    left: 0;
    z-index: 100;
}

.mylogo {
    letter-spacing: 2;
    font-size: 2.3rem;
    text-transform: uppercase;
    font-weight: 800;
}

.side-menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}



.side-menu a {
    display: flex;
    align-items: center;
    color: var(--whiteblue);
    padding: 10px;
    font-size: 20px;
    text-transform: capitalize;
}

.side-menu ion-icon {
    margin-right: 0.8rem;
    font-size: 25px;
    color: var(--darkgrey-color);
    font-weight: 700;
}

.side-menu a:hover {
    border: 2px solid var(--secondarycolor);
    border-radius: 10px;
    background-color: var(--secondarycolor);
}

.authentication-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.authentication a {
    padding: 9px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: var(--darkgrey-color);
    color: var(--whiteblue);
    text-transform: capitalize;
    margin: 10px;
}

.authentication-input {
    display: flex;
    font-size: 18px;
    text-align: center;
    padding: 9px;
}

.authentication a:hover {
    background-color: var(--secondarycolor);
    color: var(--whiteblue);
}

.auth-tabs {
    text-transform: uppercase;
    background-color: var(--primarycolor);
    padding: 5px 1rem;
    border-radius: 10px;
    margin: 1rem;
}

.auth-tabs:hover {
    background-color: var(--secondarycolor);
    color: var(--whiteblue);
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    padding: 1rem;
    background-color: var(--whiteblue);
    color: var(--fontcolor);
    border: none;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, .2) 0px 2px 8px 0px;
    cursor: pointer;
    display: none;
}

.profile img {
    width: 40px;
    height: auto;
    border-radius: 50%;
}

.profile:hover {
    background-color: var(--secondarycolor);
}

.profile-name p {
    font-size: 14px;
}

/* *************  MAIN  ************* */
.main {
    width: calc(100% - 15%);
    min-height: 100%;
    min-width: 300px;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding: 2rem 2%;
    margin-left: 15%;
    background-color: var(--soft-purple);
    z-index: 1;
    align-items: center;
}

.main-header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* HIDE MENU BAR SHOW ON MOBILE ONLY*/
.menu-bar {
    background-color: var(--whiteblue);
    padding: .5rem;
    border-radius: 20px;
    display: none;
}

.menu-bar:hover {
    background-color: var(--secondarycolor);
    color: var(--whiteblue);
}

.search {
    width: 500px;
    display: flex;
    justify-content: space-between;
    border: none;
    background-color: none;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    position: relative;
    background-color: var(--whiteblue);
}

.search input {
    width: 90%;
    border: none;
    background-color: var(--whiteblue);
    text-align: center;
    font-size: 18px;
}

.btn-search {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0 3%;
    border: none;
    background-color: var(--primarycolor);
    color: var(--whiteblue);
    font-size: 18px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
}

.btn-search:hover {
    background-color: var(--secondarycolor);
}

.filter-wrapper {
    margin: 1rem 0;
    font-size: 14px;
}

.filter {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    margin: 0.5rem 0;
}

.filter-title {
    padding: 8px;
    text-transform: capitalize;
}

.btn-filter {
    border: none;
    min-width: 110px;
    padding: 0.5rem;
    border-radius: 20px;
    background-color: var(--whiteblue);
    cursor: pointer;
}

.btn-filter:hover {
    background-color: var(--secondarycolor);
    color: var(--whiteblue);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sort {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .5rem;
}

.sort-title {
    padding: 8px;
    text-transform: capitalize;
}

.sort p {
    font-size: 14px;
}

.sort-list select {
    height: 2rem;
    border-radius: 20px;
    border: none;
    margin-top: 0 .5rem;
    padding: 5px;
    background-color: var(--whiteblue);
}


/* CARDS */
.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    gap: 1rem;
    overflow-y: auto;
}

.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    padding: 3%;
    margin: 0 1%;
    background-color: var(--whiteblue);
    line-height: 1.5;
    gap: 1.5rem;
    box-shadow: rgba(0, 0, 0, .16) 0px 1px 4px;
    border-radius: 10px;
    border: 10px;
    cursor: pointer;
    
}

.card:hover {
    box-shadow: rgba(0, 0, 0, .24) 0px 3px 8px;
}

.card-left {
    width: 10%;
    min-width: 50px;
    display: flex;
    justify-content: center;
    border-radius: 20%;
}

.card-left img {
    width: 100%;
    height: auto;
    min-height: 60px;
    padding: 5px;
}

.card-center {
    width: 50%;
}

.card-location,
.card-sub {
    font-size: 13px;
    color: var(--darkgrey-color);
}

.card-sub {
    display: flex;
    flex-wrap: wrap;
}

.card-sub p {
    display: flex;
    padding: 0 0.5rem 0 0;
    align-items: center;
}

.card-right {
    width: 15%;
}

.card-tag a {
    color: var(--fontcolor);
    font-size: 13px;
}

.card-salary {
    padding: 0.5rem 0;
    color: var(--primarycolor);
}

.card-salary span {
    color: var(--fontcolor);
    font-size: 13px;
}

.blue-bg {
    background-color: var(--soft-blue);
}

/* CARD DETAILS */
.detail {
    position: fixed;
    width: 25%;
    right: 0;
    min-width: 250px;
    height: 100%;
    padding: 2rem;
    z-index: 100;
    background-color: var(--whiteblue);
    overflow: auto;
    box-shadow: rgba(100, 100, 111, .2) 0px 7px 29px 0px;
    display: none;
}

.qualification-list li {
    list-style-type: circle;
}

/* FOR MOBILE */
.close-detail {
    display: none;
    font-size: 25px;
}

.close-detail:hover {
    color: var(--secondarycolor);
}

.detail-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail-header img {
    width: 50px;
    height: 50px;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: var(--grey-color);
    border: none;
    margin: 1rem 0;
}

.detail-description {
    line-height: 1.5;
}

.about a {
    margin: 0.5rem 0 0 0;
    color: var(--primarycolor);
    font-size: 14px;
}

.detail-btn {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.btn-apply {
    background-color: var(--primarycolor);
    color: var(--whiteblue);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

.btn-save {
    background-color: var(--secondarycolor);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.btn-apply:hover {
    border: 1px solid var(--primarycolor);
    background-color: transparent;
    color: var(--primarycolor);
}

.btn-save:hover {
    background-color: transparent;
    border: 1px solid var(--secondarycolor);
}

.sidenav.active {
    display: flex;
    width: 220px;
    z-index: 100;
}

@media screen and (max-width: 1605px) {
    .mylogo {
        font-size: 30px;
    }

    .side-menu a {
        font-size: 18px;
    }

    .authentication-input {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 1260px) {
    .mylogo {
        font-size: 25px;
    }

    .side-menu a {
        font-size: 18px;
    }

    .authentication-input {
        font-size: 18px;
    }
}

@media screen and (max-width: 1062px) {
    .detail {
        display: none;
    }

    .sidenav {
        width: 20%;
    }

    .main {
        width: calc(100% - 20%);
        margin-left: 20%;
    }
}

@media screen and (max-width: 810px) {
    .sidenav {
        display: none;
    }

    .show-sidenav {
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 2rem;
        background-color: var(--primarycolor);
        color: var(--whiteblue);
        position: fixed;
        left: 0;
        z-index: 100;
    }

    .main {
        width: 100%;
        margin-left: 0%;
    }

    .menu-bar {
        display: block;
    }

    .filter {
        font-size: 13px;
    }

}

/* others */
.navbar-title {
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 800;
    color: aliceblue;
}

.navbar-title:hover {
    color: var(--secondarycolor);
}

.nav-item-mine {
    color: aliceblue;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 400;
    padding: .5rem 0;
}

.nav-item-mine:hover {
    background-color: var(--secondarycolor);
    border-radius: 15px;
    padding: .8rem;
}